IntellijPro/shengsiyuan/shengsiyuan/xml/AttributeGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:attributeGroup name="myAttr">
		<xs:attribute name="name" type="xs:string"  use="required"/>
		<xs:attribute name="age" type="xs:integer" use="required"/>
    </xs:attributeGroup>	
    <xs:element name="myElement">
		<xs:complexType>
			<xs:attributeGroup ref="myAttr"/>
		</xs:complexType>
    </xs:element>
	
</xs:schema>
